.navbar{
    background-color: #72a27c;
}
.banner-logo{
    max-width: 10%;
}
.banner-carrito{
    max-width: 60px;
}
#navbarNav{
    font-size: 175%;
    display: flex;
    justify-content: space-between;
}
.widgetContainer{
    max-width: 100px;
}