.cardContainer{
    display: flex;
    justify-content: center;
}

.itemCount{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}

.card{
    width: 17rem;
    margin: 20px;
}