@import "../colors";

.seguridad-salud-banner{
    height: 450px;
    background: linear-gradient(to bottom, transparent 65%, white),
    url("../assets/images/Banners/Seguridad-salud.jpg");
    background-position: bottom;
    background-size: cover;
}

@media (max-width: 768px) {
    .seguridad-salud-banner{
        height: 250px;
      }
}